@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900 */

@layer base {
  html {
    font-size: 16px;
  }
  @screen tall {
    html {
      font-size: 18px;
    }
  }
  @screen very-tall {
    html {
      font-size: 32px;
    }
  }
  body {
    font-family: 'Noto Sans KR', sans-serif;
  }
}